In [1]:
# Standard libraries
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../Data/Data_All_190402/Csv/Mental Illness Survey 1.csv')

In [3]:
df.head()

,Respondent ID,Collector ID,Start Date,End Date,IP Address,Email Address,First Name,Last Name,Custom Data 1,I identify as having a mental illness,...,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Age,Gender,Household Income,Region,Device Type
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Response,...,Obsessive thinking,Mood swings,Panic attacks,Compulsive behavior,Tiredness,Response,Response,Response,Response,Response
1,6.630447e+09,168522804.0,01/15/2018 03:45:16 AM,01/15/2018 03:48:24 AM,NaN,NaN,NaN,NaN,06f645d7ea5af372d50a62bd17,No,...,Obsessive thinking,NaN,Panic attacks,NaN,NaN,30-44,Male,"$25,000-$49,999",Mountain,Android Phone / Tablet
2,6.630410e+09,168522804.0,01/15/2018 03:17:52 AM,01/15/2018 03:18:57 AM,NaN,NaN,NaN,NaN,abca2776418ff1fe24bb85e21f,Yes,...,NaN,NaN,Panic attacks,NaN,Tiredness,18-29,Male,"$50,000-$74,999",East South Central,MacOS Desktop / Laptop
3,6.630402e+09,168522804.0,01/15/2018 03:10:28 AM,01/15/2018 03:12:49 AM,NaN,NaN,NaN,NaN,3800088cf4e55278b38bbe67f3,No,...,NaN,NaN,NaN,NaN,NaN,30-44,Male,"$150,000-$174,999",Pacific,MacOS Desktop / Laptop
4,6.630335e+09,168522804.0,01/15/2018 02:11:16 AM,01/15/2018 02:12:33 AM,NaN,NaN,NaN,NaN,84585803a3cec189f89fe43d44,No,...,NaN,NaN,NaN,NaN,NaN,30-44,Male,"$25,000-$49,999",New England,Windows Desktop / Laptop

In [4]:
df.columns

Index(['Respondent ID', 'Collector ID', 'Start Date', 'End Date', 'IP Address',
       'Email Address', 'First Name', 'Last Name', 'Custom Data 1',
       'I identify as having a mental illness', 'Education',
       'I have my own computer separate from a smart phone',
       'I have been hospitalized before for my mental illness',
       'How many days were you hospitalized for your mental illness',
       'I am currently employed at least part-time', 'I am legally disabled',
       'I have my regular access to the internet', 'I live with my parents',
       'I have a gap in my resume',
       'Total length of any gaps in my resume in months.',
       'Annual income (including any social welfare programs) in USD',
       'I am unemployed', 'I read outside of work and school',
       'Annual income from social welfare programs', 'I receive food stamps',
       'I am on section 8 housing',
       'How many times were you hospitalized for your mental illness',
       'I have one of the following issues in addition to my illness',
       'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31',
       'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34', 'Age', 'Gender',
       'Household Income', 'Region', 'Device Type'],
      dtype='object')

In [5]:
df['Unnamed: 28'].head(-30)

0      Anxiety
1      Anxiety
2      Anxiety
3          NaN
4          NaN
        ...
300        NaN
301        NaN
302        NaN
303        NaN
304    Anxiety
Name: Unnamed: 28, Length: 305, dtype: object

In [6]:
df['Anxiety'] = df['Unnamed: 28'].apply(lambda x: 1 if x == 'Anxiety' else 0)
df['Depression'] = df['Unnamed: 29'].apply(lambda x: 1 if x == 'Depression' else 0)
df['Obsessive thinking'] = df['Unnamed: 30'].apply(lambda x: 1 if x == 'Obsessive thinking' else 0)
df['Mood swings'] = df['Unnamed: 31'].apply(lambda x: 1 if x == 'Mood swings' else 0)
df['Panic attacks'] = df['Unnamed: 32'].apply(lambda x: 1 if x == 'Panic attacks' else 0)
df['Compulsive behavior'] = df['Unnamed: 33'].apply(lambda x: 1 if x == 'Compulsive behavior' else 0)
df['Tiredness'] = df['Unnamed: 34'].apply(lambda x: 1 if x == 'Tiredness' else 0)

In [7]:
df.columns

Index(['Respondent ID', 'Collector ID', 'Start Date', 'End Date', 'IP Address',
       'Email Address', 'First Name', 'Last Name', 'Custom Data 1',
       'I identify as having a mental illness', 'Education',
       'I have my own computer separate from a smart phone',
       'I have been hospitalized before for my mental illness',
       'How many days were you hospitalized for your mental illness',
       'I am currently employed at least part-time', 'I am legally disabled',
       'I have my regular access to the internet', 'I live with my parents',
       'I have a gap in my resume',
       'Total length of any gaps in my resume in months.',
       'Annual income (including any social welfare programs) in USD',
       'I am unemployed', 'I read outside of work and school',
       'Annual income from social welfare programs', 'I receive food stamps',
       'I am on section 8 housing',
       'How many times were you hospitalized for your mental illness',
       'I have one of the following issues in addition to my illness',
       'Unnamed: 28', 'Unnamed: 29', 'Unnamed: 30', 'Unnamed: 31',
       'Unnamed: 32', 'Unnamed: 33', 'Unnamed: 34', 'Age', 'Gender',
       'Household Income', 'Region', 'Device Type', 'Anxiety', 'Depression',
       'Obsessive thinking', 'Mood swings', 'Panic attacks',
       'Compulsive behavior', 'Tiredness'],
      dtype='object')

In [8]:
df['Start Date']

0                         NaN
1      01/15/2018 03:45:16 AM
2      01/15/2018 03:17:52 AM
3      01/15/2018 03:10:28 AM
4      01/15/2018 02:11:16 AM
                ...
330    01/14/2018 03:34:38 AM
331    01/14/2018 03:34:38 AM
332    01/14/2018 03:27:20 AM
333    01/14/2018 03:29:31 AM
334    01/14/2018 03:24:06 AM
Name: Start Date, Length: 335, dtype: object

In [9]:
df['End Date']

0                         NaN
1      01/15/2018 03:48:24 AM
2      01/15/2018 03:18:57 AM
3      01/15/2018 03:12:49 AM
4      01/15/2018 02:12:33 AM
                ...
330    01/14/2018 03:36:44 AM
331    01/14/2018 03:36:09 AM
332    01/14/2018 03:33:01 AM
333    01/14/2018 03:32:45 AM
334    01/14/2018 03:25:10 AM
Name: End Date, Length: 335, dtype: object

In [10]:
df['Anxiety']

0      1
1      1
2      1
3      0
4      0
      ..
330    0
331    0
332    0
333    1
334    1
Name: Anxiety, Length: 335, dtype: int64

In [11]:
df.head()

,Respondent ID,Collector ID,Start Date,End Date,IP Address,Email Address,First Name,Last Name,Custom Data 1,I identify as having a mental illness,...,Household Income,Region,Device Type,Anxiety,Depression,Obsessive thinking,Mood swings,Panic attacks,Compulsive behavior,Tiredness
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Response,...,Response,Response,Response,1,1,1,1,1,1,1
1,6.630447e+09,168522804.0,01/15/2018 03:45:16 AM,01/15/2018 03:48:24 AM,NaN,NaN,NaN,NaN,06f645d7ea5af372d50a62bd17,No,...,"$25,000-$49,999",Mountain,Android Phone / Tablet,1,1,1,0,1,0,0
2,6.630410e+09,168522804.0,01/15/2018 03:17:52 AM,01/15/2018 03:18:57 AM,NaN,NaN,NaN,NaN,abca2776418ff1fe24bb85e21f,Yes,...,"$50,000-$74,999",East South Central,MacOS Desktop / Laptop,1,1,0,0,1,0,1
3,6.630402e+09,168522804.0,01/15/2018 03:10:28 AM,01/15/2018 03:12:49 AM,NaN,NaN,NaN,NaN,3800088cf4e55278b38bbe67f3,No,...,"$150,000-$174,999",Pacific,MacOS Desktop / Laptop,0,0,0,0,0,0,0
4,6.630335e+09,168522804.0,01/15/2018 02:11:16 AM,01/15/2018 02:12:33 AM,NaN,NaN,NaN,NaN,84585803a3cec189f89fe43d44,No,...,"$25,000-$49,999",New England,Windows Desktop / Laptop,0,0,0,0,0,0,0